body {
    /* background-color: #282828; */
  background: linear-gradient(to top, #9900ff 0%, #000066 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    border: 0%;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #33ccff;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  #ff99cc;
   
}

#main{
    text-align: center;
  font-size: xx-large;
}
#generate {
    height: 53px;
    width: 150px;
    border: none;
    border-radius: 100px;
    font-size:x-large;
    margin: 10px;
     background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

#showall {
    margin: 10px;
    height: 43px;
    width: 100px;
    border: none;
    border-radius: 25px;
    font-size: medium;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
   
}

#add {
    /* margin: 10px; */
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 25px;
    font-size: medium;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

#new_quote {
    margin: 10px;
    height: 35px;
    width: 25%;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

#name {
    margin: 10px;
    height: 35px;
    width: 25%;
    border: none;
    border-radius: 25px;
   background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);

}
button{
     margin-bottom: 45px;
}
#show{
    /* text-align: center; */
    color: #7ddfff;
    /* text-align:justify; */
    
}
#shade{
    	text-align: center;
}
input{
    text-align: center;
    font-size: large;
}